/* Content Section */
.content{ 
    background-color: var(--main-color);
    overflow: hidden;
}
.form-box{
    width: 40%;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    margin:10px auto;
    border: 1px solid var(--border-color);
    background-color: var(--primary-color);
    border-radius: 7px;
    padding: 30px 30px 10px;
}
input,textarea{
    width: 100%;
    margin: 10px 0;
    font-family: Poppins;
    font-size: 0.9rem;
    padding: 5px 15px;
    border-radius: 5px;
    border: 2px solid var(--border-color);
}
label{
    margin: 10px 0;
}

input:focus, textarea:focus{
    outline: none;
    border: 2px solid var(--secondary-color);
}

